{# templates/redirection/list.html.twig #}
{% set redirectionsCount = redirections|length %}
{% if redirectionsCount == 0 %}
    <h1>Aucun lien</h1>
{% elseif redirectionsCount == 1 %}
    <h1>Le lien</h1>
{% else %}
    <h1>Les {{ redirectionsCount }} liens</h1>
{% endif %}
<ul>
    {% for redirection in redirections %}
        <li><a href="{{ redirection.to }}" target="_blank">{{ redirection.from }}</a></li>
    {% endfor %}
</ul>
